ANTHROPIC_API_KEY=

COP_MCP_AUTH_TOKEN=
THIEF_MCP_AUTH_TOKEN=
COP_MCP_URL=
THIEF_MCP_URL=
REPORT_RECIPIENT_OVERRIDE=
GMAIL_CLIENT_SECRET_PATH=./secrets/client_secret.json
GMAIL_TOKEN_PATH=./secrets/token.json